@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400&display=swap');
/*@import url('fonts/Explorance-Icon-Font-v1.0/style.css');*/

html {
    font-size: inherit;
}

body {
    font-family: 'Lato', sans-serif !important;
}
.dvBlueOuter {
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.6);
    z-index: 1000;
    width: 100%;
    height: 100%;
}

.modal-dialog {
    width: 100%;
    max-width: 822px;
}

.modal-header {
    padding: 16px;
    text-align: center;
    border-bottom: 1px solid #E5E8EB;
}
.modal-header .logo{
    max-height:100px
}

.modal-body {
    max-height: 450px;
    overflow-y: auto;
    padding: 0;
    scrollbar-width: thin;
}

.row {
    display: flex;
    border-bottom: 1px solid #E5E8EB;
    margin: 0;
}

.row:last-child {
    border: 0;
}

.row-header {
    background: #F7F8F9;
    font-size: 14px;
    line-height: 17px;
    color: #0F131C;
    text-align: center;
    padding: 9px;
    border-bottom: 1px solid #E5E8EB;
    font-weight: 400;
}

.column {
    padding: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-left: 1px solid #E5E8EB;
    box-sizing: border-box;
}
div.status {
    width: 100%;
    max-width: 130px;
}
.column.course {
    padding-left: 24px;
    border-left: none;
    width: 100%;
}

.course span {
    font-weight: 400;
    font-size: 14px;
    color: #738293;
}

.course strong {
    font-weight: 700;
    font-size: 14px;
    color: #0F131C;
    line-height: 17px;
    margin-bottom: 4px;
}

span.status {
    white-space: nowrap;
    align-items: center;
    justify-content: center;
    padding: 7px 0;
    background: #FDEECF;
    border-radius: 8px;
    color: #7B5F21;
    text-decoration: none;
    font-weight: 700;
    font-size: 12px;
    display: flex;
    max-width: 128px;
    margin-top: 12px;
}

    span.status svg {
        margin-right: 8px;
    }

a.view-btn,
a.view-btn:hover {
    align-items: center;
    padding: 12px 40px;
    background: #FFFFFF;
    border: 1px solid #E5E8EB;
    border-radius: 36px;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    text-align: center;
    color: #0F131C;
    text-decoration: none;
    line-height: 16.8px;
    box-sizing: border-box;
}
.modal-footer {
    padding: 16px 24px;
    text-align: right;
    box-shadow: 0px -3px 25px rgba(0, 0, 0, 0.1);
}

.close-modal {
    cursor: pointer;
    padding: 9px 32px;
    align-items: center;
    padding: 9px 16px;
    background: #FFFFFF;
    border: 1px solid #E5E8EB;
    border-radius: 36px;
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    text-align: center;
    color: #0F131C;
    text-decoration: none;
}

span.circle {
    width: 8px;
    height: 8px;
    background: #B98E31;
    border-radius: 50%;
    margin-right: 8px;
    margin-top: 1px;
}
span.endon {
    color: #738293;
    font-size:14px;
}
span.taskDueDate {
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #0F131C;
    margin-top: 6px;
    display: inline-block;
}

.expiry {
    color: #D17300;
    display: flex;
    align-items: center;
    margin-top: 6px
}

.expiry svg {
    margin-right: 4px;
}
/* width */
::-webkit-scrollbar {
    width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}
.modal-body > div.row:hover {
    background: #F7F8F9;
}

.close-modal:hover, a.view-btn:hover {
    color: #0050C1;
    border-color: #0050C1;
    background: #F2F6FB;
    outline: 1px solid #0050C1;
    box-sizing: border-box;
}

.chk-donotshow{
    float:left;
}
.chk-donotshow input[type=checkbox] {
    position: absolute;
    opacity: 0;
}
.chk-donotshow input[type=checkbox]:checked + label {
    background-position: 0 -18px;
}
.chk-donotshow label {
    padding-left: 25px;
    height: 18px;
    display: inline-block;
    line-height: 18px;
    background-repeat: no-repeat;
    background-position: 0 0;
    cursor: pointer;
    font-size: 12px;
    font-weight: bold;
    background-image:url(../Content/check.png);
}
.chk-donotshow input[type=checkbox]:focus + label {
    border: 1px dotted black;
}
@media(min-width: 1279px) {
    .modal-body {
        max-height: 660px;
    }
}